<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.aptasystems.kakapo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KakapoApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title_kakapo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".IntroActivity"
            android:label="Kakapo"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ShareItemActivity"
            android:label="@string/share_item_title_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aptasystems.kakapo.MainActivity" />
        </activity>
        <activity
            android:name=".GroupDetailActivity"
            android:label="@string/group_detail_title_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aptasystems.kakapo.MainActivity" />
        </activity>
        <activity
            android:name=".FriendDetailActivity"
            android:label="@string/friend_detail_title_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aptasystems.kakapo.MainActivity" />
        </activity>
        <activity
            android:name=".ViewImageActivity"
            android:label="@string/view_image_title_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aptasystems.kakapo.MainActivity" />
        </activity>
        <activity
            android:name=".NewsItemDetailActivity"
            android:label="@string/item_detail_title_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aptasystems.kakapo.MainActivity" />
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_title_kakapo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HelpActivity"
            android:label="@string/help_title_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="help"
                    android:scheme="com.aptasystems.kakapo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectUserAccountActivity"
            android:label="@string/select_user_account_title_activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SimpleScannerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RestoreAccountActivity"
            android:label="@string/restore_account_title_activity"
            android:taskAffinity=".RestoreAccountActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="Restore Kakapo Account">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter android:label="Restore Kakapo Account">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="*"
                    android:mimeType="application/octet-stream"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter android:label="Restore Kakapo Account">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>